<div class="ui basic segment">
  <details class="ui accordion">
    <summary class="title">
      <i class="dropdown icon"></i>
      Example Alumni Credential
    </summary>
    <div class="content ui form">
      <textarea class="field">
{
  "@context": [
    "https://www.w3.org/2018/credentials/v1",
    "https://www.w3.org/2018/credentials/examples/v1",
    "https://contexts.vcplayground.org/examples/alumni/v1.json"
  ],
  "type": [
    "VerifiableCredential",
    "AlumniCredential"
  ],
  "issuer": {
    "id": "did:example:12345678910111213",
    "image": "data:image/png;base64,iVBORw0KG....QYFB0T/BzE/ye22Qk+VAAAAAElFTkSuQmCC"
  },
  "name": "Alumni Credential",
  "description": "The holder is an alumni of Example University.",
  "issuanceDate": "2018-05-14T12:00:00Z",
  "credentialSubject": {
    "id": "did:example:ebfeb1f712ebc6f1c276e12ec21",
    "alumniOf": {
        "identifier": "did:example:c276e12ec21ebfeb1f712ebc6f1",
        "name": "Example University"
    }
  }
}</textarea>
    </div>
  </details>
</div>
