<div class="ui basic segment">
  <details class="ui accordion">
    <summary class="title">
      <i class="dropdown icon"></i>
      Example Generated / Issued Verifiable Credential
    </summary>
    <div class="content ui form">
      <textarea class="field">
{
  "@context": [
    "https://www.w3.org/2018/credentials/v1",
    "https://www.w3.org/2018/credentials/examples/v1",
    "https://contexts.vcplayground.org/examples/alumni/v1.json",
    "https://w3id.org/security/suites/ed25519-2020/v1"
  ],
  "type": [
    "VerifiableCredential",
    "AlumniCredential"
  ],
  "issuer": {
    "id": "did:key:z6Mkw7C8xgYg2FHzNkLckXwzUK4ukyM9PMchPQ4SojvE8CsA",
    "image": "data:image/png;base64,iVBORw0KG....QYFB0T/BzE/ye22Qk+VAAAAAElFTkSuQmCC"
  },
  "name": "Alumni Credential",
  "description": "The holder is an alumni of Example University.",
  "issuanceDate": "2023-08-14T14:14:26.411Z",
  "credentialSubject": {
    "id": "did:example:ebfeb1f712ebc6f1c276e12ec21",
    "alumniOf": {
      "identifier": "did:example:c276e12ec21ebfeb1f712ebc6f1",
      "name": "Example University"
    }
  },
  "id": "https://playground.chapi.io/credential/13a1nxX1mzdBMLOYwNf6E",
  "proof": {
    "type": "Ed25519Signature2020",
    "created": "2023-08-14T14:14:26Z",
    "verificationMethod": "did:key:z6Mkw7C8xgYg2FHzNkLckXwzUK4ukyM9PMchPQ4SojvE8CsA#z6Mkw7C8xgYg2FHzNkLckXwzUK4ukyM9PMchPQ4SojvE8CsA",
    "proofPurpose": "assertionMethod",
    "proofValue": "z5dkmo2cf2LPp7ZnNJpUjf3GtY8uKp9yG8Y2uk3ce53PxfFDPMschqEKMfECUbMobHmtbZiqwKUXi4adoZDpTuM5n"
  }
}</textarea>
    </div>
  </details>
</div>
