---
---

@import "{{ site.theme }}";

// adjusting base font-size for Fomantic-UI
html { font-size: 16px; }
header.top.inverted.menu {
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
}
.ui.inverted.vertical.sidebar.menu {
  background-color: #159957;
  background-image: linear-gradient(320deg, #155799, #159957);
}
.pusher {
  padding-top: 3em;
}
header .right.menu .toc.item {
  display: none;
}
@media only screen and (max-width: 950px) {
  .desktop.only { display: none }
  header .right.menu .item {
    display: none !important;
  }
  header .right.menu .toc.item {
    display: block !important;
  }
}

//Modified default button
.btn { display: inline-block; margin-bottom: 1rem; color: rgba(255, 255, 255, 1.0); font-weight: bold; 
  background-color: rgba(255, 255, 255, 0.08); border-color: rgba(255, 255, 255, 0.2); border-style: solid; 
  border-width: 1px; border-radius: 0.3rem; transition: color 0.2s, background-color 0.2s, border-color 0.2s;}
.btn:hover { color: rgba(255, 255, 255, 0.8); text-decoration: none; background-color: rgba(255, 255, 255, 0.3); border-color: rgba(255, 255, 255, 0.3); }
.btn + .btn { margin-left: 1rem; }

@media screen and (min-width: 42em) { .btn { padding: 0.75rem 1.25rem; font-size: 1.25rem; } }
@media screen and (max-width: 42em) { .btn { display: block; width: 100%; padding: 0.6rem; font-size: 1rem; }
  .btn + .btn { margin-top: 1rem; margin-left: 0; } }

//Modified default page header
.page-header { color: #fff; text-align: center; background-color: #159957; 
  background-image: linear-gradient(120deg, #155799, #159957); }
@media screen and (min-width: 64em) { .page-header { padding: 2rem 3rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .page-header { padding: 2rem 1rem; } }
@media screen and (max-width: 42em) { .page-header { padding: 2rem 0.5rem; } }

//Modified default page header text styles
.project-name { margin-top: 0; margin-bottom: 0.1rem; }
@media screen and (min-width: 64em) { .project-name { font-size: 2.25rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .project-name { font-size: 1.75rem; } }
@media screen and (max-width: 42em) { .project-name { font-size: 1.5rem; } }

.project-tagline { margin-bottom: 2rem; font-weight: normal; opacity: 0.7; }
@media screen and (min-width: 64em) { .project-tagline { font-size: 1.25rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .project-tagline { font-size: 1.25rem; } }
@media screen and (max-width: 42em) { .project-tagline { font-size: 1rem; } }

//Custom header for sub-pages
.subpage-header { color: #fff; text-align: left; a {color: #fff; text-decoration: none;} 
  background-color: #159957; background-image: linear-gradient(120deg, #155799, #159957); }
@media screen and (min-width: 64em) { .subpage-header { padding: 0.1rem 1rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .subpage-header { padding: 0.1rem 1rem; } }
@media screen and (max-width: 42em) { .subpage-header { padding: 0.1rem; } }

//Custom style for site backlink
.project-shorthand { margin: 1rem; font-weight: normal; opacity: 1;}
@media screen and (min-width: 64em) { .project-shorthand { font-size: 1.25rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .project-shorthand { font-size: 1.25rem; } }
@media screen and (max-width: 42em) { .project-shorthand { font-size: 1rem; } }

//Custom inline buttons
.btn2 { display: inline-block; margin-bottom: 1rem; margin-top: 1rem; color: rgba(255, 255, 255, 1.0); 
  font-weight: bold; background-color: #156c84C4; border-color: rgba(255, 255, 255, 0.2); border-style: solid; 
  border-width: 1px; border-radius: 0.3rem; transition: color 0.2s, background-color 0.2s, border-color 0.2s;}
.btn2:hover { color: rgba(255, 255, 255, 1.0); text-decoration: none; background-color: #155f90; 
  border-color: rgba(255, 255, 255, 0.3); }
.btn2 + .btn2 { margin-left: 1.5rem; }

@media screen and (min-width: 42em) { .btn2 { padding: 0.75rem 1.75rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .btn2 {  padding: 0.75rem; font-size: 1rem; } }
@media screen and (max-width: 42em) { .btn2 { display: block; width: 100%; padding: 0.6rem; font-size: 0.9rem; }
  .btn2 + .btn2 { margin-top: 1rem; margin-left: 0; } }

//Custom inline button row
.button-row { text-align: center; margin: 1rem; font-weight: normal; opacity: 1;}

//Code box annotation
.code-annotation { margin-top: -1rem; color: #777d83; text-align:right; font-size: 0.9rem;  
  a {color: #777d83;} }

  .tab {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    padding: 0;
    list-style: none;
    position: relative;
}

.tab > * {
    flex: none;
    padding-left: 20px;
    position: relative;
}

.tab > * > a {
    display: block;
    text-align: center;
    padding: 9px 20px;
    color: #999;
    border-bottom: 2px solid transparent;
    border-bottom-color: transparent;
    font-size: 12px;
    text-transform: uppercase;
    transition: color .1s ease-in-out;
    line-height: 20px;
}

.tab > .active > a {
    color:#222;
    border-color: #1e87f0;
}

.tab > li > a {
    text-decoration: none;
    cursor: pointer;
}

.tab-content {
    padding: 0;
}

.tab-content > li {
    display: none;
}
.tab-content > li.active {
    display: initial;
}