<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% include 'seo' %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/prismjs@1/themes/prism.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted right sidebar menu">
      <a class="item" href="/developers/issuers">VC Issuers</a>
      <a class="item" href="/developers/wallets">Digital Wallets</a>
      <a class="item" href="/developers/verifiers">VC Verifiers</a>
      <span class="item">
        <a class="ui basic inverted button" href="https://playground.chapi.io/">Try the Playground!</a>
      </span>
    </div>

    <div class="pusher">
    <header class="ui top inverted fixed menu" role="banner">
      <a class="ui header item" href={{ site.url }}>
        {{ site.shorthand }}
        <span class="desktop only">&nbsp; | Credential Handler API</span>
      </a>
      <span class="item">
        <a class="ui basic inverted button" href="https://playground.chapi.io/">Try the Playground!</a>
      </span>
      <div class="right menu">
        <a class="toc icon item"><i class="sidebar icon"></i></a>
        <a class="item" href="/developers/issuers">VC Issuers</a>
        <a class="item" href="/developers/wallets">Digital Wallets</a>
        <a class="item" href="/developers/verifiers">VC Verifiers</a>
      </div>
    </header>
    {% if showHero %}
    <div class="page-header" role="banner">
      <h1 class="project-name">{{ site.title }}</h1>
      <h2 class="project-tagline">{{ site.description }}</h2>
      <a href="https://playground.chapi.io" class="btn">Try the CHAPI Playground</a>
    </div>
    {% endif %}

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <div class="site-footer-credits">This site content is open-source
          licensed by contributors under the <a href="/license">BSD 3-Clause</a>.
        </div>
        <div class="site-footer-credits">
          Please contribute at <a href="https://github.com/credential-handler/chapi.io"><i class="github link icon"></i>credential-handler/chapi.io</a>
        </div>
      </footer>
    </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.js"></script>
    <script>
      // create sidebar and attach to menu open
      $('.ui.sidebar')
        .sidebar('attach events', '.toc.item');
    </script>
    <script src="/assets/js/tabs.js"></script>
    {% mermaid_js %}
  </body>
</html>
